.section {
  margin-top: 100px;
  padding: 15px;
}

.section-heading {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-light);
  font-weight: 500;
  letter-spacing: 5px;
  font-family: var(--font-primary);
}

.section-subheading {
  margin-bottom: 45px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  color: var(--text-color);
  font-family: var(--font-heading);
}

.skill-item {
  margin-bottom: 30px;
}

.skill-item > span {
  display: block;
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-color);
}

/* Progress Bar */
.progress-bar-bg {
  width: 100%;
  height: 8px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  background: var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  position: relative;
  transition: width 1s ease-in-out;
}

.progress-bar-fill > span {
  position: absolute;
  right: 0;
  top: -25px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--font-primary);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 0 50px;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
